/* Estilo padrão (para telas maiores) */
.cadastro-container {
  width: 600px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button[type="submit"] {
  padding: 15px;
  background-color: #405a41;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.tipo_transacao {
  margin-top: 1.3em;
  margin-bottom: 1.3em;
}

.form-tipo-transacao {
  margin-bottom: 1.3em;
  border-radius: 5px;
  margin-left: 5px;
}

.tipoServico {
  margin-top: 1.3em;
}

.form-cadastro-dropdown {
  margin-bottom: 1.3em;
  border-radius: 5px;
  width: calc(100% - 12px);
}

.select-tipo-cadastro {
  margin-left: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.text-descricao {
  border-radius: 5px;
  width: calc(100% - 12px);
}

.cadastro-container p {
  font-size: 12px;
}

/* Responsividade para telas médias (tablets) */
@media (max-width: 768px) {
  .cadastro-container {
    max-width: 350px;
  }

  input[type="text"] {
    height: 45px;
    padding: 0.6em;
    font-size: 14px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea,
  select {
    font-size: 0.9rem;
    padding: 10px;
  }

  .tipo_transacao,
  .tipoServico {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .form-tipo-transacao,
  .form-cadastro-dropdown {
    margin-bottom: 1em;
  }

  .select-tipo-cadastro {
    margin-left: 0;
    width: 100%;
  }

  .text-descricao {
    height: 80px;
    padding: 0.6em;
  }

  .material-options {
    gap: 8px;
    margin-top: 2px;
    margin-bottom: 1em;
  }

  .material-options label {
    font-size: 14px;
    gap: 6px;
  }

  .cadastro-container p {
    font-size: 11px;
    line-height: 1.5;
  }

  button[type="submit"] {
    font-size: 0.9rem;
    padding: 12px;
  }

}

/* Responsividade para telas pequenas (smartphones) */
@media (max-width: 480px) {
  .cadastro-container {
    padding: 10px;
  }

  .cadastro-container p {
    font-size: 10px;
    line-height: 1.4;
  }


  input[type="text"] {
    height: 40px;
    padding: 0.5em;
    font-size: 12px;
  }

  .tipo_transacao,
  .tipoServico {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }

  .form-tipo-transacao,
  .form-cadastro-dropdown {
    margin-bottom: 0.8em;
  }

  .material-options {
    flex-direction: column;
    gap: 8px;
  }

  button[type="submit"] {
    font-size: 0.8rem;
    padding: 10px;
  }

  .select-tipo-cadastro,
  .form-cadastro-dropdown,
  .form-tipo-transacao {
    font-size: 0.9rem;
    padding: 8px;
  }

  .text-descricao {
    height: 70px;
    padding: 0.5em;
  }
}
