.login-container {
  flex: 1; /* Faz com que o conteúdo principal ocupe o espaço disponível */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza o formulário verticalmente */
  align-items: center;
  padding: 0;
}

h2 {
  font-size: 24px;
  color: #405A41;
  margin: 20px;
  text-align: start;
  font-weight: bold;
  text-transform: uppercase;
}

form {
  margin: auto;
  width: 600px;
  height: auto;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 1em;
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

label { 
  display: flex;
  align-items: start;
  margin-right: 18px;
  margin-bottom: 5px;
  font-size: 17px;
  color: #000000;
}

input[type="email"], [type="password"] {
  width: calc(100% - 12px);
  height: 50px;
  padding: .65em;
  border-radius: 5px;
  margin-bottom: 1.3em;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button[type="submit"] {
  align-items: end;
  width: 150px;
  height: 45px;
  color: #ffffff;
  background-color: #405a41;
  text-align: center;
  border-radius: 8px;
  box-shadow: none;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  border: none;
}

p {
  font-size: 22px;
  color: #9a9999;
  margin-bottom: 0.4em;
}


.esqueci-senha {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  margin-bottom: 10px;
  font-size: 14px;
}

.esqueci-senha:hover {
  text-decoration: underline;
}

.cadastro-redirect { 
  text-align: start;
  margin-bottom: 20px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.cadastro-redirect a {
  color: rgba(0, 0, 0, 0.5);
}

.cadastro-redirect a:visited {
  color: rgba(0, 0, 0, 0.5);
}

.cadastro-redirect a:hover {
  text-decoration: underline;
}