.container-validados {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: left;
}

.btn-validated {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
    .container-validados {
        padding: 15px;
        width: 95%; /* Reduz a largura em telas menores */
    }
}

.ponto-validado {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #e9f1e2;
}

/* Responsividade para o conteúdo */
@media (max-width: 768px) {
    .ponto-validado {
        padding: 10px; /* Reduz o padding em telas menores */
        font-size: 14px; /* Ajusta o tamanho da fonte */
    }
}

.ponto-validado p {
    margin: 5px 0;
    color: #405a41;
    font-size: 16px; /* Tamanho padrão */
}

/* Ajuste para parágrafos em telas menores */
@media (max-width: 768px) {
    .ponto-validado p {
        font-size: 14px; /* Reduz o tamanho da fonte em telas menores */
    }
}

.ponto-validado button {
    margin-right: 10px;
    padding: 8px 12px;
    font-size: 14px;
    color: #fff;
    background-color: #55703F;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

/* Ajuste para botões em telas menores */
@media (max-width: 768px) {
    .ponto-validado button {
        padding: 6px 10px; /* Reduz o padding */
        font-size: 12px; /* Reduz o tamanho da fonte */
        margin-bottom: 8px; /* Adiciona margem para separar botões em linha */
    }
}

.ponto-validado button:hover {
    background-color: #65844c;
}

.ponto-validado button:last-of-type {
    background-color: #e24959;
}

.ponto-validado button:last-of-type:hover {
    background-color: #e75e65;
}

/* Ajuste para botões alinhados em telas muito pequenas */
@media (max-width: 480px) {
    .ponto-validado button {
        display: block;
        width: 100%; /* Ocupa toda a largura disponível */
        margin-right: 0; /* Remove a margem lateral */
        margin-bottom: 10px; /* Adiciona espaçamento entre botões */
    }
}
